<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.manufacturing.res.mapper.ResShiftsysMapper">
    
    <resultMap type="ResShiftsys" id="ResShiftsysResult">
        <result property="id"    column="id"    />
        <result property="shiftsysName"    column="shiftsys_name"    />
        <result property="shiftQuantity"    column="shift_quantity"    />
        <result property="hoursWork"    column="hours_work"    />
        <result property="hoursExtra"    column="hours_extra"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectResShiftsysVo">
        select id, shiftsys_name, shift_quantity, hours_work, hours_extra, remark, create_by, create_time, update_by, update_time from res_shiftsys
    </sql>

    <select id="selectResShiftsysList" parameterType="ResShiftsys" resultMap="ResShiftsysResult">
        <include refid="selectResShiftsysVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="shiftsysName != null  and shiftsysName != ''"> and shiftsys_name like concat('%', #{shiftsysName}, '%')</if>
            <if test="shiftQuantity != null "> and shift_quantity = #{shiftQuantity}</if>
            <if test="hoursWork != null "> and hours_work = #{hoursWork}</if>
            <if test="hoursExtra != null "> and hours_extra = #{hoursExtra}</if>
        </where>
    </select>
    
    <select id="selectResShiftsysById" parameterType="Long" resultMap="ResShiftsysResult">
        <include refid="selectResShiftsysVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertResShiftsys" parameterType="ResShiftsys" useGeneratedKeys="true" keyProperty="id">
        insert into res_shiftsys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shiftsysName != null and shiftsysName != ''">shiftsys_name,</if>
            <if test="shiftQuantity != null">shift_quantity,</if>
            <if test="hoursWork != null">hours_work,</if>
            <if test="hoursExtra != null">hours_extra,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shiftsysName != null and shiftsysName != ''">#{shiftsysName},</if>
            <if test="shiftQuantity != null">#{shiftQuantity},</if>
            <if test="hoursWork != null">#{hoursWork},</if>
            <if test="hoursExtra != null">#{hoursExtra},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateResShiftsys" parameterType="ResShiftsys">
        update res_shiftsys
        <trim prefix="SET" suffixOverrides=",">
            <if test="shiftsysName != null and shiftsysName != ''">shiftsys_name = #{shiftsysName},</if>
            <if test="shiftQuantity != null">shift_quantity = #{shiftQuantity},</if>
            <if test="hoursWork != null">hours_work = #{hoursWork},</if>
            <if test="hoursExtra != null">hours_extra = #{hoursExtra},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteResShiftsysById" parameterType="Long">
        delete from res_shiftsys where id = #{id}
    </delete>

    <delete id="deleteResShiftsysByIds" parameterType="String">
        delete from res_shiftsys where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>