<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.manufacturing.pln.mapper.PlnMlRoutingkipartsMapper">
    
    <resultMap type="PlnMlRoutingkiparts" id="PlnMlRoutingkipartsResult">
        <result property="id"    column="id"    />
        <result property="routingId"    column="routing_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialSpec"    column="material_spec"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPlnMlRoutingkipartsVo">
        select id, routing_id, material_id, material_name, material_spec, remark, create_by, create_time, update_by, update_time from pln_ml_routingkiparts
    </sql>

    <select id="selectPlnMlRoutingkipartsList" parameterType="PlnMlRoutingkiparts" resultMap="PlnMlRoutingkipartsResult">
        <include refid="selectPlnMlRoutingkipartsVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="routingId != null "> and routing_id = #{routingId}</if>
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialSpec != null  and materialSpec != ''"> and material_spec like concat('%', #{materialSpec}, '%')</if>
        </where>
    </select>
    
    <select id="selectPlnMlRoutingkipartsById" parameterType="Long" resultMap="PlnMlRoutingkipartsResult">
        <include refid="selectPlnMlRoutingkipartsVo"/>
        where id = #{id}
    </select>

    <select id="selectPlnMlRoutingkipartsListByRoutingId" parameterType="Long" resultMap="PlnMlRoutingkipartsResult">
        <include refid="selectPlnMlRoutingkipartsVo"/>
        where routing_id = #{routingId}
    </select>
        
    <insert id="insertPlnMlRoutingkiparts" parameterType="PlnMlRoutingkiparts" useGeneratedKeys="true" keyProperty="id">
        insert into pln_ml_routingkiparts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routingId != null">routing_id,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialName != null and materialName != ''">material_name,</if>
            <if test="materialSpec != null">material_spec,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="routingId != null">#{routingId},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialName != null and materialName != ''">#{materialName},</if>
            <if test="materialSpec != null">#{materialSpec},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePlnMlRoutingkiparts" parameterType="PlnMlRoutingkiparts">
        update pln_ml_routingkiparts
        <trim prefix="SET" suffixOverrides=",">
            <if test="routingId != null">routing_id = #{routingId},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialName != null and materialName != ''">material_name = #{materialName},</if>
            <if test="materialSpec != null">material_spec = #{materialSpec},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlnMlRoutingkipartsById" parameterType="Long">
        delete from pln_ml_routingkiparts where id = #{id}
    </delete>

    <delete id="deletePlnMlRoutingkipartsByIds" parameterType="String">
        delete from pln_ml_routingkiparts where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deletePlnMlRoutingkipartsByRoutingId" parameterType="Long">
        delete from pln_ml_routingkiparts where routing_id = #{routingId}
    </delete>
</mapper>