<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.manufacturing.pln.mapper.PlnWoRoutingtoolMapper">
    
    <resultMap type="PlnWoRoutingtool" id="PlnWoRoutingtoolResult">
        <result property="id"    column="id"    />
        <result property="routingId"    column="routing_id"    />
        <result property="seqNo"    column="seq_no"    />
        <result property="toolId"    column="tool_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPlnWoRoutingtoolVo">
        select id, routing_id, seq_no, tool_id, remark, create_by, create_time, update_by, update_time from pln_wo_routingtool
    </sql>

    <select id="selectPlnWoRoutingtoolList" parameterType="PlnWoRoutingtool" resultMap="PlnWoRoutingtoolResult">
        <include refid="selectPlnWoRoutingtoolVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="routingId != null "> and routing_id = #{routingId}</if>
            <if test="seqNo != null "> and seq_no like concat('%', #{seqNo}, '%')</if>
            <if test="toolId != null "> and tool_id = #{toolId}</if>
        </where>
    </select>
    
    <select id="selectPlnWoRoutingtoolById" parameterType="Long" resultMap="PlnWoRoutingtoolResult">
        <include refid="selectPlnWoRoutingtoolVo"/>
        where id = #{id}
    </select>

    <select id="selectPlnWoRoutingtoolListByRoutingId" parameterType="Long" resultMap="PlnWoRoutingtoolResult">
        <include refid="selectPlnWoRoutingtoolVo"/>
        where routing_id = #{routingId}
    </select>

    <select id="selectPlnWoRoutingtoolListByToolId" parameterType="Long" resultMap="PlnWoRoutingtoolResult">
        <include refid="selectPlnWoRoutingtoolVo"/>
        where tool_id = #{toolId}
    </select>
        
    <insert id="insertPlnWoRoutingtool" parameterType="PlnWoRoutingtool" useGeneratedKeys="true" keyProperty="id">
        insert into pln_wo_routingtool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routingId != null">routing_id,</if>
            <if test="seqNo != null">seq_no,</if>
            <if test="toolId != null">tool_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="routingId != null">#{routingId},</if>
            <if test="seqNo != null">#{seqNo},</if>
            <if test="toolId != null">#{toolId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePlnWoRoutingtool" parameterType="PlnWoRoutingtool">
        update pln_wo_routingtool
        <trim prefix="SET" suffixOverrides=",">
            <if test="routingId != null">routing_id = #{routingId},</if>
            <if test="seqNo != null">seq_no = #{seqNo},</if>
            <if test="toolId != null">tool_id = #{toolId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlnWoRoutingtoolById" parameterType="Long">
        delete from pln_wo_routingtool where id = #{id}
    </delete>

    <delete id="deletePlnWoRoutingtoolByIds" parameterType="String">
        delete from pln_wo_routingtool where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deletePlnWoRoutingtoolByRoutingId" parameterType="Long">
        delete from pln_wo_routingtool where routing_id = #{routingId}
    </delete>

    <delete id="deletePlnWoRoutingtoolByToolId" parameterType="Long">
        delete from pln_wo_routingtool where tool_id = #{toolId}
    </delete>
</mapper>