<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.manufacturing.qua.mapper.QuaFreeinspectCategoryMapper">
    
    <resultMap type="QuaFreeinspectCategory" id="QuaFreeinspectCategoryResult">
        <result property="id"    column="id"    />
        <result property="policyId"    column="policy_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectQuaFreeinspectCategoryVo">
        select id, policy_id, category_id, remark, create_by, create_time, update_by, update_time from qua_freeinspect_category
    </sql>

    <select id="selectQuaFreeinspectCategoryList" parameterType="QuaFreeinspectCategory" resultMap="QuaFreeinspectCategoryResult">
        <include refid="selectQuaFreeinspectCategoryVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="policyId != null "> and policy_id = #{policyId}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
        </where>
    </select>
    
    <select id="selectQuaFreeinspectCategoryById" parameterType="Long" resultMap="QuaFreeinspectCategoryResult">
        <include refid="selectQuaFreeinspectCategoryVo"/>
        where id = #{id}
    </select>

    <select id="selectQuaFreeinspectCategoryListByPolicyId" parameterType="Long" resultMap="QuaFreeinspectCategoryResult">
        <include refid="selectQuaFreeinspectCategoryVo"/>
        where policy_id = #{policyId}
    </select>

    <select id="selectQuaFreeinspectCategoryListByCategoryId" parameterType="Long" resultMap="QuaFreeinspectCategoryResult">
        <include refid="selectQuaFreeinspectCategoryVo"/>
        where category_id = #{categoryId}
    </select>
        
    <insert id="insertQuaFreeinspectCategory" parameterType="QuaFreeinspectCategory" useGeneratedKeys="true" keyProperty="id">
        insert into qua_freeinspect_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="policyId != null">policy_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="policyId != null">#{policyId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateQuaFreeinspectCategory" parameterType="QuaFreeinspectCategory">
        update qua_freeinspect_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="policyId != null">policy_id = #{policyId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuaFreeinspectCategoryById" parameterType="Long">
        delete from qua_freeinspect_category where id = #{id}
    </delete>

    <delete id="deleteQuaFreeinspectCategoryByIds" parameterType="String">
        delete from qua_freeinspect_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteQuaFreeinspectCategoryByPolicyId" parameterType="Long">
        delete from qua_freeinspect_category where policy_id = #{policyId}
    </delete>

    <delete id="deleteQuaFreeinspectCategoryByCategoryId" parameterType="Long">
        delete from qua_freeinspect_category where category_id = #{categoryId}
    </delete>
</mapper>