<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.manufacturing.cha.mapper.ChaCustomerBankMapper">
    
    <resultMap type="ChaCustomerBank" id="ChaCustomerBankResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="accountNo"    column="account_no"    />
        <result property="bankName"    column="bank_name"    />
        <result property="ownerName"    column="owner_name"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectChaCustomerBankVo">
        select id, customer_id, account_no, bank_name, owner_name, remark, create_by, create_time, update_by, update_time from cha_customer_bank
    </sql>

    <select id="selectChaCustomerBankList" parameterType="ChaCustomerBank" resultMap="ChaCustomerBankResult">
        <include refid="selectChaCustomerBankVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="accountNo != null  and accountNo != ''"> and account_no like concat('%', #{accountNo}, '%')</if>
            <if test="bankName != null  and bankName != ''"> and bank_name like concat('%', #{bankName}, '%')</if>
            <if test="ownerName != null  and ownerName != ''"> and owner_name like concat('%', #{ownerName}, '%')</if>
        </where>
    </select>
    
    <select id="selectChaCustomerBankById" parameterType="Long" resultMap="ChaCustomerBankResult">
        <include refid="selectChaCustomerBankVo"/>
        where id = #{id}
    </select>

    <select id="selectChaCustomerBankListByCustomerId" parameterType="Long" resultMap="ChaCustomerBankResult">
        <include refid="selectChaCustomerBankVo"/>
        where customer_id = #{customerId}
    </select>
        
    <insert id="insertChaCustomerBank" parameterType="ChaCustomerBank" useGeneratedKeys="true" keyProperty="id">
        insert into cha_customer_bank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="accountNo != null">account_no,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="ownerName != null">owner_name,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="accountNo != null">#{accountNo},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="ownerName != null">#{ownerName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateChaCustomerBank" parameterType="ChaCustomerBank">
        update cha_customer_bank
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="accountNo != null">account_no = #{accountNo},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="ownerName != null">owner_name = #{ownerName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChaCustomerBankById" parameterType="Long">
        delete from cha_customer_bank where id = #{id}
    </delete>

    <delete id="deleteChaCustomerBankByIds" parameterType="String">
        delete from cha_customer_bank where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteChaCustomerBankByCustomerId" parameterType="Long">
        delete from cha_customer_bank where customer_id = #{customerId}
    </delete>
</mapper>