<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.system.mapper.SysBillcodeRuleMapper">

    <resultMap type="SysBillcodeRule" id="SysBillcodeRuleResult">
        <result property="id" column="id"/>
        <result property="billCode" column="bill_code"/>
        <result property="billName" column="bill_name"/>
        <result property="disableRule" column="disable_rule"/>
        <result property="disableCode" column="disable_code"/>
        <result property="disablePrefix" column="disable_prefix"/>
        <result property="prefixChars" column="prefix_chars"/>
        <result property="disablePeriod" column="disable_period"/>
        <result property="periodPattern" column="period_pattern"/>
        <result property="disableNumber" column="disable_number"/>
        <result property="numberSize" column="number_size"/>
        <result property="lastDate" column="last_date"/>
        <result property="nextNumber" column="next_number"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSysBillcodeRuleVo">
        select id,
               bill_code,
               bill_name,
               disable_rule,
               disable_code,
               disable_prefix,
               prefix_chars,
               disable_period,
               period_pattern,
               disable_number,
               number_size,
               last_date,
               next_number,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from sys_billcode_rule
    </sql>

    <select id="selectSysBillcodeRuleList" parameterType="SysBillcodeRule" resultMap="SysBillcodeRuleResult">
        <include refid="selectSysBillcodeRuleVo"/>
        <where>
            <if test="billCode != null  and billCode != ''">and bill_code like concat('%', #{billCode}, '%')</if>
            <if test="billName != null  and billName != ''">and bill_name like concat('%', #{billName}, '%')</if>
            <if test="disableRule != null  and disableRule != ''">and disable_rule = #{disableRule}</if>
            <if test="disableCode != null  and disableCode != ''">and disable_code like concat('%', #{disableCode},
                '%')
            </if>
            <if test="disablePrefix != null  and disablePrefix != ''">and disable_prefix = #{disablePrefix}</if>
            <if test="prefixChars != null  and prefixChars != ''">and prefix_chars = #{prefixChars}</if>
            <if test="disablePeriod != null  and disablePeriod != ''">and disable_period = #{disablePeriod}</if>
            <if test="periodPattern != null  and periodPattern != ''">and period_pattern = #{periodPattern}</if>
            <if test="disableNumber != null  and disableNumber != ''">and disable_number = #{disableNumber}</if>
            <if test="numberSize != null ">and number_size = #{numberSize}</if>
            <if test="lastDate != null ">and last_date = #{lastDate}</if>
            <if test="nextNumber != null ">and next_number = #{nextNumber}</if>
        </where>
    </select>

    <select id="selectSysBillcodeRuleById" parameterType="Long" resultMap="SysBillcodeRuleResult">
        <include refid="selectSysBillcodeRuleVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysBillcodeRule" parameterType="SysBillcodeRule" useGeneratedKeys="true" keyProperty="id">
        insert into sys_billcode_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billCode != null and billCode != ''">bill_code,</if>
            <if test="billName != null and billName != ''">bill_name,</if>
            <if test="disableRule != null and disableRule != ''">disable_rule,</if>
            <if test="disableCode != null and disableCode != ''">disable_code,</if>
            <if test="disablePrefix != null and disablePrefix != ''">disable_prefix,</if>
            <if test="prefixChars != null">prefix_chars,</if>
            <if test="disablePeriod != null and disablePeriod != ''">disable_period,</if>
            <if test="periodPattern != null and periodPattern != ''">period_pattern,</if>
            <if test="disableNumber != null and disableNumber != ''">disable_number,</if>
            <if test="numberSize != null">number_size,</if>
            <if test="lastDate != null">last_date,</if>
            <if test="nextNumber != null">next_number,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billCode != null and billCode != ''">#{billCode},</if>
            <if test="billName != null and billName != ''">#{billName},</if>
            <if test="disableRule != null and disableRule != ''">#{disableRule},</if>
            <if test="disableCode != null and disableCode != ''">#{disableCode},</if>
            <if test="disablePrefix != null and disablePrefix != ''">#{disablePrefix},</if>
            <if test="prefixChars != null">#{prefixChars},</if>
            <if test="disablePeriod != null and disablePeriod != ''">#{disablePeriod},</if>
            <if test="periodPattern != null and periodPattern != ''">#{periodPattern},</if>
            <if test="disableNumber != null and disableNumber != ''">#{disableNumber},</if>
            <if test="numberSize != null">#{numberSize},</if>
            <if test="lastDate != null">#{lastDate},</if>
            <if test="nextNumber != null">#{nextNumber},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysBillcodeRule" parameterType="SysBillcodeRule">
        update sys_billcode_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="billCode != null and billCode != ''">bill_code = #{billCode},</if>
            <if test="billName != null and billName != ''">bill_name = #{billName},</if>
            <if test="disableRule != null and disableRule != ''">disable_rule = #{disableRule},</if>
            <if test="disableCode != null and disableCode != ''">disable_code = #{disableCode},</if>
            <if test="disablePrefix != null and disablePrefix != ''">disable_prefix = #{disablePrefix},</if>
            <if test="prefixChars != null">prefix_chars = #{prefixChars},</if>
            <if test="disablePeriod != null and disablePeriod != ''">disable_period = #{disablePeriod},</if>
            <if test="periodPattern != null and periodPattern != ''">period_pattern = #{periodPattern},</if>
            <if test="disableNumber != null and disableNumber != ''">disable_number = #{disableNumber},</if>
            <if test="numberSize != null">number_size = #{numberSize},</if>
            <if test="lastDate != null">last_date = #{lastDate},</if>
            <if test="nextNumber != null">next_number = #{nextNumber},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBillcodeRuleById" parameterType="Long">
        delete
        from sys_billcode_rule
        where id = #{id}
    </delete>

    <delete id="deleteSysBillcodeRuleByIds" parameterType="String">
        delete from sys_billcode_rule where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>