<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.manufacturing.eng.mapper.EngMaterialSalesMapper">
    
    <resultMap type="EngMaterialSales" id="EngMaterialSalesResult">
        <result property="id"    column="id"    />
        <result property="materialId"    column="material_id"    />
        <result property="unitCost"    column="unit_cost"    />
        <result property="unitPriceTimes"    column="unit_price_times"    />
        <result property="guaranteeDays"    column="guarantee_days"    />
        <result property="leadtimeDelivery"    column="leadtime_delivery"    />
        <result property="quantityMinisize"    column="quantity_minisize"    />
        <result property="quantityEconosize"    column="quantity_econosize"    />
        <result property="lastSalePrice"    column="last_sale_price"    />
        <result property="lastSaleDate"    column="last_sale_date"    />
        <result property="projectId"    column="project_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEngMaterialSalesVo">
        select id, material_id, unit_cost, unit_price_times, guarantee_days, leadtime_delivery, quantity_minisize, quantity_econosize, last_sale_price, last_sale_date, project_id, customer_id, remark, create_by, create_time, update_by, update_time from eng_material_sales
    </sql>

    <select id="selectEngMaterialSalesList" parameterType="EngMaterialSales" resultMap="EngMaterialSalesResult">
        <include refid="selectEngMaterialSalesVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="unitCost != null "> and unit_cost = #{unitCost}</if>
            <if test="unitPriceTimes != null "> and unit_price_times = #{unitPriceTimes}</if>
            <if test="guaranteeDays != null "> and guarantee_days = #{guaranteeDays}</if>
            <if test="leadtimeDelivery != null "> and leadtime_delivery = #{leadtimeDelivery}</if>
            <if test="quantityMinisize != null "> and quantity_minisize = #{quantityMinisize}</if>
            <if test="quantityEconosize != null "> and quantity_econosize = #{quantityEconosize}</if>
            <if test="lastSalePrice != null "> and last_sale_price = #{lastSalePrice}</if>
            <if test="lastSaleDate != null "> and last_sale_date = #{lastSaleDate}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
        </where>
    </select>
    
    <select id="selectEngMaterialSalesById" parameterType="Long" resultMap="EngMaterialSalesResult">
        <include refid="selectEngMaterialSalesVo"/>
        where id = #{id}
    </select>

    <select id="selectEngMaterialSalesListByMaterialId" parameterType="Long" resultMap="EngMaterialSalesResult">
        <include refid="selectEngMaterialSalesVo"/>
        where material_id = #{materialId}
    </select>

    <select id="selectEngMaterialSalesListByProjectId" parameterType="Long" resultMap="EngMaterialSalesResult">
        <include refid="selectEngMaterialSalesVo"/>
        where project_id = #{projectId}
    </select>

    <select id="selectEngMaterialSalesListByCustomerId" parameterType="Long" resultMap="EngMaterialSalesResult">
        <include refid="selectEngMaterialSalesVo"/>
        where customer_id = #{customerId}
    </select>
        
    <insert id="insertEngMaterialSales" parameterType="EngMaterialSales">
        insert into eng_material_sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="materialId != null">material_id,</if>
            <if test="unitCost != null">unit_cost,</if>
            <if test="unitPriceTimes != null">unit_price_times,</if>
            <if test="guaranteeDays != null">guarantee_days,</if>
            <if test="leadtimeDelivery != null">leadtime_delivery,</if>
            <if test="quantityMinisize != null">quantity_minisize,</if>
            <if test="quantityEconosize != null">quantity_econosize,</if>
            <if test="lastSalePrice != null">last_sale_price,</if>
            <if test="lastSaleDate != null">last_sale_date,</if>
            <if test="projectId != null">project_id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="unitCost != null">#{unitCost},</if>
            <if test="unitPriceTimes != null">#{unitPriceTimes},</if>
            <if test="guaranteeDays != null">#{guaranteeDays},</if>
            <if test="leadtimeDelivery != null">#{leadtimeDelivery},</if>
            <if test="quantityMinisize != null">#{quantityMinisize},</if>
            <if test="quantityEconosize != null">#{quantityEconosize},</if>
            <if test="lastSalePrice != null">#{lastSalePrice},</if>
            <if test="lastSaleDate != null">#{lastSaleDate},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateEngMaterialSales" parameterType="EngMaterialSales">
        update eng_material_sales
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="unitCost != null">unit_cost = #{unitCost},</if>
            <if test="unitPriceTimes != null">unit_price_times = #{unitPriceTimes},</if>
            <if test="guaranteeDays != null">guarantee_days = #{guaranteeDays},</if>
            <if test="leadtimeDelivery != null">leadtime_delivery = #{leadtimeDelivery},</if>
            <if test="quantityMinisize != null">quantity_minisize = #{quantityMinisize},</if>
            <if test="quantityEconosize != null">quantity_econosize = #{quantityEconosize},</if>
            <if test="lastSalePrice != null">last_sale_price = #{lastSalePrice},</if>
            <if test="lastSaleDate != null">last_sale_date = #{lastSaleDate},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEngMaterialSalesById" parameterType="Long">
        delete from eng_material_sales where id = #{id}
    </delete>

    <delete id="deleteEngMaterialSalesByIds" parameterType="String">
        delete from eng_material_sales where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteEngMaterialSalesByMaterialId" parameterType="Long">
        delete from eng_material_sales where material_id = #{materialId}
    </delete>

    <delete id="deleteEngMaterialSalesByProjectId" parameterType="Long">
        delete from eng_material_sales where project_id = #{projectId}
    </delete>

    <delete id="deleteEngMaterialSalesByCustomerId" parameterType="Long">
        delete from eng_material_sales where customer_id = #{customerId}
    </delete>
</mapper>