<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.factoryopen.myfactoryai.manufacturing.idx.mapper.HomAchieveInventoryMapper">

    <resultMap type="HomAchieveInventory" id="HomAchieveInventoryResult">
        <result property="id" column="id"/>
        <result property="day" column="day"/>
        <result property="moneyRaw" column="money_raw"/>
        <result property="moneyParts" column="money_parts"/>
        <result property="moneyProduct" column="money_product"/>
    </resultMap>

    <sql id="selectHomAchieveInventoryVo">
        select id, day, money_raw, money_parts, money_product from hom_achieve_inventory
    </sql>

    <select id="selectHomAchieveInventoryList" parameterType="HomAchieveInventory"
            resultMap="HomAchieveInventoryResult">
        <include refid="selectHomAchieveInventoryVo"/>
        <where>
            <if test="day != null  and day != ''">and day = #{day}</if>
            <if test="moneyRaw != null ">and money_raw = #{moneyRaw}</if>
            <if test="moneyParts != null ">and money_parts = #{moneyParts}</if>
            <if test="moneyProduct != null ">and money_product = #{moneyProduct}</if>
        </where>
    </select>

    <select id="selectHomAchieveInventoryById" parameterType="Long" resultMap="HomAchieveInventoryResult">
        <include refid="selectHomAchieveInventoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertHomAchieveInventory" parameterType="HomAchieveInventory" useGeneratedKeys="true" keyProperty="id">
        insert into hom_achieve_inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="day != null and day != ''">day,</if>
            <if test="moneyRaw != null">money_raw,</if>
            <if test="moneyParts != null">money_parts,</if>
            <if test="moneyProduct != null">money_product,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="day != null and day != ''">#{day},</if>
            <if test="moneyRaw != null">#{moneyRaw},</if>
            <if test="moneyParts != null">#{moneyParts},</if>
            <if test="moneyProduct != null">#{moneyProduct},</if>
        </trim>
    </insert>

    <update id="updateHomAchieveInventory" parameterType="HomAchieveInventory">
        update hom_achieve_inventory
        <trim prefix="SET" suffixOverrides=",">
            <if test="day != null and day != ''">day = #{day},</if>
            <if test="moneyRaw != null">money_raw = #{moneyRaw},</if>
            <if test="moneyParts != null">money_parts = #{moneyParts},</if>
            <if test="moneyProduct != null">money_product = #{moneyProduct},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHomAchieveInventoryById" parameterType="Long">
        delete from hom_achieve_inventory where id = #{id}
    </delete>

    <delete id="deleteHomAchieveInventoryByIds" parameterType="String">
        delete from hom_achieve_inventory where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>